<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1071268868478-v0o0r1tog79a1lpbb8121njj1886kelq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071268868478-v0o0r1tog79a1lpbb8121njj1886kelq</string>
	<key>API_KEY</key>
	<string>AIzaSyCV821jnsB8k92Q8Uhz2cfQkWL4giYBpxI</string>
	<key>GCM_SENDER_ID</key>
	<string>1071268868478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YiQiFaner.YiCHi-Alpha</string>
	<key>PROJECT_ID</key>
	<string>yichi-d4f7d</string>
	<key>STORAGE_BUCKET</key>
	<string>yichi-d4f7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071268868478:ios:cddf7c276527184f</string>
	<key>DATABASE_URL</key>
	<string>https://yichi-d4f7d.firebaseio.com</string>
</dict>
</plist>